.btn {
    background-color: black;
    border: 1px solid black;
}

.btn:hover {
    background-color: rgb(161, 216, 227);
    border: none;
}

textarea {
    height: 260px;

}

#translator-row {
    background-image: url(../../assets/translationPageBackgoundImage.PNG);
    background-size: cover;
    /* This will make the image cover the entire container */
    background-position: center;
    /* This will center the image */
    height: 100vh;
    /* height set to the full viewport height */
}

#title {
    font-size: 4vw;
    /* Using viewport width (vw) for responsive font size */
    color: #ffff;
    padding: 10px;
    margin: 0;
    /* Remove default margin to center the title properly */
}

.title-container {
    text-align: center;
  }