.btn {
    background-color: black;
    border: 1px solid black;
}

.btn:hover {
    background-color: rgb(161, 216, 227);
    border: none;
}

textarea {
    height: 260px;

}

#translator-row {
    background-image: url(../../assets/translationPageBackgoundImage.PNG);
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Set a minimum height to ensure content is visible */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#title {
    font-size: 4vw;
    /* Using viewport width (vw) for responsive font size */
    color: #ffff;
    padding: 10px;
    margin: 0;
    /* Remove default margin to center the title properly */
}

.title-container {
    text-align: center;
  }


.form-group {
    margin-bottom: 15px; /* Add margin between form groups */
}

.from-text,
.to-text {
    height: 120px; /* Adjust the height of textareas for better visibility on smaller screens */
}

.lang-from,
.lang-to {
    width: 100%; /* Make the language selection dropdowns take full width on smaller screens */
}

.exchange {
    width: 100%; /* Make the "Translate" button take full width on smaller screens */
    margin-top: 10px; /* Add margin to the top of the button */
}