.quiz-wrap {
    background-color: rgb(161, 216, 227);
    width: 100%;
    max-height: 80vh;
    overflow-y: auto; /* Add a scrollbar if the content exceeds the maximum height */
    background-image: url('../../assets/time.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}

h1{
    font-size: 80px;
    color: white;
}

.select-options{
    margin-top: 50px;
    margin-left: 50px;
    height: 35px;
}

.submit-btn{
    background-color: black;
     margin-left: 50px;
     color: white;
     margin-bottom: 20px;
     height:50px;
     width: 150px;
}

.submit-btn:hover{
    background-color: rgb(161, 216, 227);
    border: 1px rgb(161, 216, 227) solid;
}

.play-again{
    margin-bottom: 20px;
}

.display-score{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bold{
    font-weight: bold;
}
.options{
    margin-left: 50px;
}